# Admin token of Vaultwarden
# ADMIN_TOKEN                                   =

# Timezone
TZ                                            = Asia/Tokyo

# Volumes
# Local data path for Vaultwarden
VAULTWARDEN_DATA_PATH                         = ./vaultwarden_data
# Local directory where the rclone config file is stored
VAULTWARDEN_BACKUP_RCLONE_CONFIG_PATH         = ./rclone_config

# Push service of Bitwarden.
# The ID and Key can be requested at [here](https://bitwarden.com/host/)
PUSH_INSTALLATION_ID                          = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PUSH_INSTALLATION_KEY                         = xxxxxxxxxxxxxxxxxxxx
PUSH_ENABLED                                  = true

# Cloudflare Tunnel token.
# The token can be configured at [here](https://www.cloudflare.com/products/tunnel/)
TUNNEL_TOKEN                                  = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Backup
# Refer to [ttionya/vaultwarden-backup](https://github.com/ttionya/vaultwarden-backup) for details
CRON                                          = 0 0 * * * # everyday at 00:00
RCLONE_REMOTE_NAME                            = BitwardenBackup
RCLONE_REMOTE_DIR                             = /BitwardenBackup/
ZIP_ENABLE                                    = TRUE
ZIP_PASSWORD                                  = 'password!'
BACKUP_FILE_SUFFIX                            = %Y%m%d
BACKUP_KEEP_DAYS                              = 30
PING_URL                                      =

# Auto update
WATCHTOWER_NOTIFICATIONS                      = email
WATCHTOWER_NOTIFICATION_EMAIL_FROM            = xx@xxxx.com
WATCHTOWER_NOTIFICATION_EMAIL_TO              = xx@xxxx.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER          = smtp.xx.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT     = 587
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER     = xx@xxxx.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD = xxxx
WATCHTOWER_NOTIFICATION_EMAIL_DELAY           = 2
WATCHTOWER_POLL_INTERVAL                      = 1800 # Every 30mins
